<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbufe.zfr.UniTakeout_server.mapper.OrderItemMapper">
    <select id="selectByOrderId" resultType="OrderItem">
        SELECT * FROM order_item WHERE order_id = #{orderId}
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO order_item (order_id, product_id, name, quantity, price)
        VALUES (#{orderId}, #{productId}, #{name}, #{quantity}, #{price})
    </insert>
    
    <insert id="insertBatch">
        INSERT INTO order_item (order_id, product_id, name, quantity, price)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.orderId}, #{item.productId}, #{item.name}, #{item.quantity}, #{item.price})
        </foreach>
    </insert>
</mapper>

