<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbufe.zfr.UniTakeout_server.mapper.ShopMapper">
    <select id="selectById" resultType="Shop">
        SELECT * FROM shop WHERE id = #{id}
    </select>
    
    <select id="selectList" resultType="Shop">
        SELECT * FROM shop
        <where>
            <if test="keyword != null and keyword != ''">
                name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
        <choose>
            <when test="sort == 'sales'">ORDER BY monthly_sales DESC</when>
            <when test="sort == 'rating'">ORDER BY rating DESC</when>
            <when test="sort == 'distance'">ORDER BY distance ASC</when>
            <otherwise>ORDER BY id DESC</otherwise>
        </choose>
        LIMIT #{offset}, #{limit}
    </select>
    
    <select id="count" resultType="Long">
        SELECT COUNT(*) FROM shop
        <where>
            <if test="keyword != null and keyword != ''">
                name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>
    
    <select id="searchByKeyword" resultType="Shop">
        SELECT * FROM shop
        <where>
            <if test="keyword != null and keyword != ''">
                (name LIKE CONCAT('%', #{keyword}, '%') 
                OR description LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
        <choose>
            <when test="sort == 'sales'">ORDER BY monthly_sales DESC</when>
            <when test="sort == 'rating'">ORDER BY rating DESC</when>
            <when test="sort == 'distance'">ORDER BY distance ASC</when>
            <otherwise>ORDER BY id DESC</otherwise>
        </choose>
        LIMIT #{offset}, #{limit}
    </select>
    
    <select id="countByKeyword" resultType="Long">
        SELECT COUNT(*) FROM shop
        <where>
            <if test="keyword != null and keyword != ''">
                (name LIKE CONCAT('%', #{keyword}, '%') 
                OR description LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </select>
    
    <select id="selectByOwnerId" resultType="Shop">
        SELECT * FROM shop WHERE owner_id = #{ownerId} LIMIT 1
    </select>
    
    <update id="update">
        UPDATE shop
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="image != null">image = #{image},</if>
            <if test="deliveryTime != null">delivery_time = #{deliveryTime},</if>
            <if test="distance != null">distance = #{distance},</if>
            <if test="businessHours != null">business_hours = #{businessHours}</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>

